# AIKP Production Environment

POSTGRES_PASSWORD=change_me

SPRING_PROFILES_ACTIVE=prod

APP_BASE_URL=https://aikp.n-letsara.net

JWT_SECRET=change_this_secret

GHCR_USERNAME=nhlets

GHCR_TOKEN=github_pat_xxxxxxxxx
