# =========================
# Maven / Gradle
# =========================
target/
**/target/
.gradle/
build/

# =========================
# Node / React
# =========================
node_modules/
**/node_modules/
dist/
**/dist/

# =========================
# PostgreSQL
# =========================
infrastructure/postgres/data/
**/pgdata/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db